<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <header>
  
  <h3><a href='/post/all'>S l 4 C k 3 |2 News</a></h3>
  <% if current_user %>
    <a href='/profile/<%=current_user.id%>'>
    <a href='/logout'>Click here to logout!</a>
  <% else %>
    <div class="header_buttons" id="login"><a href="/login">Click here to login</a></div>
    <div class="header_buttons" id="signup"><a href="/signup">Click here to signup</a></div>
  <% end %>
  <div class="header_buttons" id="submit"><a href="/post/new">Submit a new post!</a></div>
  </header>
  <%= yield %>
</body>
</html>
